<html>
  <head>
    <title>Pagination include</title>
  </head>
  <body>
    <nav th:fragment="article_pagination (baseUrl)"
      th:if="${articlePage.totalPages} &gt; 1">
      <ul class="pagination">
        <li th:each="i : ${#numbers.sequence(1, articlePage.totalPages)}"
            class="page-item">
          <a href="#"
             class="page-link"
             th:href="${i.equals(1)}? @{/} : @{${baseUrl}(page=${i})}"
             th:text="${i}">
            A page link
          </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
