<!DOCTYPE html>
<html>
<head>
  <title>Base layout page for Yule blog engine</title>
</head>
<body>
  <header>
    <h1 th:text="${blogTitle}">Blog title</h1>
    <p th:if="${blogDescription}" th:text="${blogDescription}">
      Blog description
    </p>
    <nav th:replace="~{top-menu-include :: top_menu}">
      <a href="#">
        A page link
      </a>
    </nav>
  </header>
  <section layout:fragment="content">
    <p>Base template content</p>
  </section>
  <footer layout:fragment="footer">
    <p>Base template footer</p>
  </footer>
</body>
</html>
