<!DOCTYPE html>
<html layout:decorate="~{base}">
  <head>
    <title
      th:text="${blogDescription} ? (${blogTitle} + ' - ' +
      ${blogDescription}): (${blogTitle})">
      Blog title
    </title>
  </head>
  <body>
    <section layout:fragment="content">
      <th:block th:if="${articlePage}">
        <th:block th:if="${articlePage}" th:each="article:
          ${articlePage.content}">
          <div
            th:replace="~{article-include :: article_view (list=true)}">
            Here there would be a list of articles as presented on the index page.
            Look at article-include.html to see an example.
          </div>
        </th:block>
        <nav th:replace="~{article-pagination-include ::
        article_pagination (basePath='/')}">
          <a href="#">
            A page link
          </a>
        </nav>
      </th:block>
      <p th:unless="${articlePage}">
      No posts have been published yet.
      </p>
    </section>
  </body>
</html>
